@model SchwammyStreams.Backend.Dto.AddEpisodeDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AddEpisodeDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalAirDate" class="control-label"></label>
                <input asp-for="OriginalAirDate" class="form-control" />
                <span asp-validation-for="OriginalAirDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArchiveUrl" class="control-label"></label>
                <input asp-for="ArchiveUrl" class="form-control" />
                <span asp-validation-for="ArchiveUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
