@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <img class="img-fluid" src="~/img/schwammy-transparent.png" title="schwammy" alt="schwammy" />
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h1>Welcome to Schwammy Streams!</h1>
            <h2>Fun, Coding, and a Bit of Chaos!</h2>
            this is a test
        </div>
        this is a test
    </div>
</div>

